p {
    color: gold;
}
html{ 
     <body>
    background-color: palevioletred;
    background-image: url("https://attitude.co.uk/media/images/2017/05/gay-couple.jpg.750x400_q85_box-0%2C8%2C803%2C437_crop_detail.jpg");
    background-size: 1050px
}   